* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body { 
  font-family: 'Roboto', sans-serif; 
  width: 80%;
  margin: 0 auto;
}

.container-nav {
  background-color: #1f2937;
  display: flex;
  justify-content: space-between;
  color: white;
  padding: 5px 0px;
}

.container-nav p {
  font-size: 24px;
  color: #F9FAF8;
}

.container-header-link {
  display: flex;
  gap: 15px;
  padding: 15px 0px;
  font-size: 18px;
  color: #e5e7eb;
}

.container-hero {
  display: flex;
  background-color: #1f2937;
}

.container-hero .title {
  font-size: 48px;
  color: #F9FAF8;
  font-weight: 900;
}

.container-hero .text {
  font-size: 18px;
  color: #e5e7eb;
}

